[Unit]
Description=ecFlow REST api
After=network-online.target
 
[Service]
Type=forking
Environment="ECF_HOST=localhost"
Environment="ECF_PORT=5237"
Environment="ECF_RESTAPI_PORT=80"
Environment="ECF_RESTAPI_TOKEN_FILE=$HOME/.ecflowrc/token_file.json"
ExecStart=/usr/ecflow5/bin/ecflow_http

[Install]
WantedBy=multi-user.target
